{% extends 'base.html' %}

<script>
{% block jquery %}
var endpoint = '/api/charts';
var consumption = [];
var temp_out = [];
var temp_in = [];
var aircondition = [];
var labels = [];
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels = data.labels;
        consumption = data.consumption;
        temp_out = data.temp_out;
        temp_in = data.temp_in;
        aircondition = data.aircondition;
        setChart()
    },
    error: function(error_data){
        console.log("error");
        console.log(error_data)
    }
})
function setChart(){
   // var ctx = document.getElementById("myChart");
    var ctx2 = document.getElementById("energy-consumption");
    var ctx3 = document.getElementById("temperature-inside");
    var ctx4 = document.getElementById("temperature-outside");
    var ctx5 = document.getElementById("aircondition");
    var myChart = new Chart(ctx2, {
    type: 'line',
    data: {
        labels: labels,
        datasets: [{
            label: 'Last 24 hours',
            data: consumption,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',

            ],
            borderColor: [
                'rgba(255,99,132,1)',

            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        },
        title: {
            display: true,
            text: 'Consumption of energy in %'
        }
    }
});
    var myChart = new Chart(ctx3, {
    type: 'line',
    data: {
        labels: labels,
        datasets: [{
            label: 'Last 24 hours',
            data: temp_in,
            backgroundColor: [
                'rgba(0, 255, 153, 0.2)',

            ],
            borderColor: [
                'rgba(1,255,155,1)',

            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:false
                }
            }]
        },
        title: {
            display: true,
            text: 'Temperature inside'
        }
    }
});
var myChart = new Chart(ctx4, {
    type: 'line',
    data: {
        labels: labels,
        datasets: [{
            label: 'Last 24 hours',
            data: temp_out,
            backgroundColor: [
                'rgba(102, 153, 255, 0.2)',

            ],
            borderColor: [
                'rgba(105,153,255,1)',

            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:false
                }
            }]
        },
        title: {
            display: true,
            text: 'Temperature outside'
        }
    }
});
var myChart = new Chart(ctx5, {
    type: 'doughnut',
			data: {
				datasets: [{
					data: aircondition,
					backgroundColor: [
					    'rgba(255, 153, 255, 0.8)',
                        'rgba(132, 255, 255, 0.8)',
					],
					label: 'Last 24 hours'
				}],
				labels: [
					'On',
					'Off'
				]
			},
			options: {
				responsive: true,
				legend: {
					position: 'top',
				},
				title: {
					display: true,
					text: 'Aircondition usage time'
				},
				animation: {
					animateScale: true,
					animateRotate: true
				}
			}
		});

}
// var ctx = document.getElementById("myChart");
{% endblock %}
</script>

{% block content %}

<nav class="navbar" style="background-color: cornflowerblue; color: white;">
    <h1 style="text-align: center; margin-bottom: 50px;">Oszczędzanie energii w biurze - Bool'e Istnienia</h1>
</nav>

<div class='row'>
    <div class='col-sm-12' url-endpoint='{% url "home" %}'>

        <br/>
        <div class='col-sm-6' style="border: lightgray; border-style: solid; border-radius: 16px; padding: 20px;">
            <canvas id="energy-consumption" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-6' style="border: lightgray; border-style: solid; border-radius: 16px; padding: 20px;">
            <canvas id="temperature-inside" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-6' style="margin-top: 50px; margin-bottom: 50px; border: lightgray; border-style: solid; border-radius: 16px; padding: 20px;">
            <canvas id="temperature-outside" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-6' style="margin-top: 50px; margin-bottom: 50px; border: lightgray; border-style: solid; border-radius: 16px; padding: 20px;">
            <canvas id="aircondition" width="400" height="400"></canvas>
        </div>


    </div>
</div>

{% endblock content %}